body{
    background-color:rgb(189, 123, 42) ;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    background-color:burlywood;
    height: fit-content;
    width: 50%;
    align-items: center;
    margin: auto;
    padding: 2%;
    border-radius: 10px;
}

h1{
    text-align: center;
}

.introducao{
    align-items: center;
    margin: auto;
    font-size: 17px;
}

.div-imagem{
    /* combo p alinhar itens no centro */
    align-items: center;
    margin:auto;
    width: fit-content;
    text-align: center;
    margin-top: 2%;
}

.div-imagem img{
    width: 40%;
    border-radius: 10px;
}

.botao-receitas{
    background-color: rgb(189, 123, 42) ;
    color:#000000;
    padding:14px 23px;
    font-size: 15px;
    font-weight: 600;
}
.outras-receitas{
    width: fit-content;
    align-items: center;
    margin: auto;
    margin-top: 3%;
}
a{
    color: blanchedalmond;
    text-decoration: none;
}

footer{
    color:aliceblue;
    text-align: center;
    margin-top: 4%;
}